In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

import seaborn as sns

In [2]:
# bibliotecas para Análise Exploratória de Dados
import lux
from pandas_profiling import ProfileReport

In [3]:
# tabela de reacoes denormalizada:
#reacoes = pd.read_csv('reacoes.csv', index_col='id')

In [4]:
#reacoes.head(5)

In [14]:
# tabela de isolados denormalizada:
isolados = pd.read_csv('final - final.csv', index_col='id')

In [15]:
isolados.head(3)

/home/john/anaconda3/envs/eda/lib/python3.7/site-packages/lux/executor/PandasExecutor.py:448: UserWarning:
Lux detects that attributes ['data_coleta', 'ano'] may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['data_coleta'] = pd.to_datetime(df['data_coleta'], format='<replace-with-datetime-format>')
	df['ano'] = pd.to_datetime(df['ano'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If ano is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'ano':'quantitative'})

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

### Análise Exploratória de Dados:
1. Informações Gerais
2. Tratamento de valores Nulos
3. Transformações nos dados, etc...

Questions to answer:
* How many features do you have?
* How many observations do you have?
* What is the data type of each feature?

In [16]:
isolados.shape

(768, 17)

In [17]:
isolados.info()

<class 'lux.core.frame.LuxDataFrame'>
Int64Index: 768 entries, 644 to 81
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ccr_codigo       768 non-null    object
 1   coleta           768 non-null    object
 2   amostra          768 non-null    object
 3   latitude         768 non-null    int64
 4   longitude        768 non-null    int64
 5   cidade           768 non-null    object
 6   localidade       768 non-null    object
 7   data_coleta      768 non-null    object
 8   ano              768 non-null    int64
 9   equipe           768 non-null    object
 10  substrato        768 non-null    object
 11  nome_cientifico  768 non-null    object
 12  uf               768 non-null    object
 13  fermentacao      199 non-null    float64
 14  temperatura      234 non-null    float64
 15  outros           532 non-null    float64
 16  infogenetica     195 non-null    float64
dtypes: float64(4), int64(3), object(10)
memory usage: 108.0+ KB

In [18]:
# descricao dos dados sob analise:
isolados.describe(include='object')

/home/john/anaconda3/envs/eda/lib/python3.7/site-packages/lux/executor/PandasExecutor.py:448: UserWarning:
Lux detects that the attribute 'data_coleta' may be temporal.
To display visualizations for these attributes accurately, please convert temporal attributes to Datetime objects.
For example, you can convert a Year attribute (e.g., 1998, 1971, 1982) using pd.to_datetime by specifying the `format` as '%Y'.

Here is a starter template that you can use for converting the temporal fields:
	df['data_coleta'] = pd.to_datetime(df['data_coleta'], format='<replace-with-datetime-format>')

See more at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html
If data_coleta is not a temporal attribute, please use override Lux's automatically detected type:
	df.set_data_type({'data_coleta':'quantitative'})

Button(description='Toggle Pandas/Lux', layout=Layout(top='5px', width='140px'), style=ButtonStyle())

Output()

1. Tratamento de *valores nulos*;
2. Remoção de colunas desnecessárias;
3.

In [19]:
sns.set_style("darkgrid", {"grid.color": ".6", "grid.linestyle": ":"})

In [20]:
sns.catplot(x='uf',col='substrato',kind='count',data=isolados, palette='winter')

In [21]:
sns.countplot(isolados['cidade'], palette='mako');# palette='viridis' ou 'rocket' tambem eh uma opcao interessante

/home/john/anaconda3/envs/eda/lib/python3.7/site-packages/seaborn/_decorators.py:43: FutureWarning:Pass the following variable as a keyword arg: x. From version 0.12, the only valid positional argument will be `data`, and passing other arguments without an explicit keyword will result in an error or misinterpretation.

In [ ]:
numerical = [
  'id',
]
categorical = [
  'ccr_codigo', 'amostra', 'coleta', 'latitude', 'longitude', 'cidade', 'localidade', 'data_coleta',
    'equipe', 'substrato', 'nome_cientifico', 'uf', ''
]

housing = housing[numerical + categorical]
housing.shape

In [ ]:
fig, ax = plt.subplots(2, 4, figsize=(20, 10))
for variable, subplot in zip(categorical, ax.flatten()):
    sns.countplot(housing[variable], ax=subplot)
    for label in subplot.get_xticklabels():
        label.set_rotation(90)

Testes com Pandas Profiling:

In [ ]:
pr = ProfileReport(isolados, explorative=True)

In [ ]:
#pr.to_widgets()# get error: n_rows and n_columns must be positive integer
pr.to_notebook_iframe()